# Generic visual studio template w/ cmake

.vs/
*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/
[Oo]ut/
build/
Build/
build-*/

*.obj
*.o
*.pch
*.pdb
*.ilk
*.exe
*.out
*.app
*.dll
*.lib

*.log
*.tmp
*.bak

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
install_manifest.txt

Testing/
.cache/
